* {
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(
    closest-side at 30% 50%,
    rgb(58, 59, 63),
    rgb(27, 28, 32)
  );
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  margin: 0px 30px;
  /* transition: 0.5s; */
}
/* navbar styles */

/* nav {
  display: flex;
  justify-content: space-between;
} */
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e3edf7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transform: scale(0);
  transition: 0.5s;
}
#menu-overlay.active {
  transform: scale(1);
}
#menu-overlay ul {
  position: relative;
}
#menu-overlay ul li {
  position: relative;
  list-style: none;
  text-align: center;
  display: block;
}
#menu-overlay ul li a {
  position: relative;
  text-decoration: none;
  font-size: 3.5em;
  padding: 0 10px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}
#menu-overlay ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background: #fffff0;
  transform: translateY(-50%) scaleX(0);
  transform-origin: right;
  transition: 0.5s transform;
}
#menu-overlay ul li a:hover:before {
  transform: translateY(-50%) scaleX(1);
  transform-origin: left;
  transition: 0.5s transform;
}
#toggleIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: no-repeat url(/static/memento/img/list.svg);
  z-index: 1;
  cursor: pointer;
}
#toggleIcon.active {
  background: #fffff0 url();
}

.logo {
  cursor: pointer;
}

/* ul {
  list-style: none;
  display: flex;
  align-items: center;
}
ul > li {
  padding: 0 15px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
} */
a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

/* night mode button styles */
#toggle {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  border-radius: 160px;
  background: rgb(59, 61, 66);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(32, 32, 32, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
#toggle.active {
  background: #e3edf7;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
#toggle.active .indicator {
  left: 25px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
}

/* content area styles pg1 */

.content {
  position: relative;
  text-align: center;
  justify-content: center;
  margin: 12vw;
}

.hero {
  position: relative;
  margin-top: 30px;
  font-size: 15vw;
}
.hero2 {
  position: absolute;
  transform: translate(30vw, -20vw);
  font-size: 4vw;
  font-weight: normal;
}
.social {
  position: absolute;
  position: fixed;
  display: grid;
  gap: 10px;
  transform: translateY(5vw);
}
/* About section styles */
section.about {
  color: #fff;
  margin: -2rem 5vw 0;
  padding: 0 2rem 2rem;
  border-radius: 16px;
  background: #1b1c20;
  box-shadow: inset 5px 5px 10px #0f1012, inset -5px -5px 10px #27282e;
}
.about_title {
  text-align: center;
  -webkit-text-fill-color: none;
  -webkit-text-stroke: 1 #fff;
}
.about_details {
  text-align: justify;
}
.stack_title {
  font-weight: bold;
}
span.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tech img {
  width: 10%;
}
/* portfolio styles */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 3rem;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  max-width: 450px;
  overflow: hidden;
  background: #1b1c20;
  color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 11px #0d0d0f, -5px -5px 11px #292b31;
  font-size: 1rem;
  transition: transform 200ms ease-in-out;
}
.card:hover {
  transform: translateY(-1rem);
}
.card_image {
  flex: 0 0 200px;
  overflow: hidden;
}
.card_content {
  display: flex;
  flex-direction: column;
  content: 100%;
  padding: 1rem;
}
.card_title {
  font-size: 1rem;
  font-weight: 700;
  /* margin-bottom: 0.5rem; */
}
.card_detail {
  margin-bottom: 0.5rem;
}
.btns {
  display: flex;
  margin-top: auto;
  gap: 1rem;
}
.btns button {
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  background: rgb(166, 19, 145);
  background: radial-gradient(
    circle,
    rgba(166, 19, 145, 1) 0%,
    rgba(34, 71, 115, 1) 100%
  );
}
/* contact section styles */
.cont_contents {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 5vw;
  margin: 0 5vw 0;
  justify-content: center;
}
.cont_details {
  text-align: center;
}
.heading1 {
  color: #ffffff;
  font-weight: 900;
}
.heading2 {
  font-weight: 800;
}
.cont_h1 {
  text-align: center;
  font-weight: 900;
}
/* Contact form styles */
.cont-form {
  max-width: 50%;
  border-radius: 18px;
  background: #1b1c20;
  box-shadow: 5px 5px 11px #0d0d0f, -5px -5px 11px #292b31;
}
form {
  margin: 10px;
  padding: 5px;
}
input[type="text"],
input[type="email"],
textarea {
  position: relative;
  border: none;
  border-color: #222;
  border-style: inset;
  border-radius: 10px;
  width: 100%;
  padding: 12px 5px 12px;
  margin: 8px 0;
  color: #fff;
  background: none;
}
input[type="submit"] {
  background-color: #444;
  width: 10%;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 5px 5px 11px #0d0d0f, -5px -5px 11px #292b31;
  transition: 0.5s ease-in-out;
}
input[type="submit"]:hover {
  background-color: #222;
}

/* Footer area styles */
.foot {
  margin-top: 5px;
  border-top: #fff;
}
.foot > P {
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
}

/* night mode */
/* body.active {
  background: #e3edf7;
  color: #222;
}

nav.active a {
  color: #222;
}
a.active {
  color: #222;
}
.container .card .desc.active {
  color: #ffffff !important;
} */

/* Responsive design styles */
@media only screen and (max-width: 768px) {
  .hero2 {
    position: relative;
    align-items: center;
    transform: translate(10vw, -10vw);
  }

  /* .container .card {
    flex-wrap: wrap;
  } */

  /* #contact {
    flex-wrap: wrap;
  } */
}
