* {
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(
    closest-side at 30% 50%,
    rgb(58, 59, 63),
    rgb(27, 28, 32)
  );
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  margin: 0px 30px;
}

.logo {
  cursor: pointer;
}

/* nav-bar styles */
nav {
  display: flex;
  justify-content: space-between;
}

#menu-overlay ul li {
  display: inline-flex;
}
#menu-overlay ul li a {
  margin-left: 5vw;
}

#menu-overlay ul li a:hover {
  color: coral;
  cursor: pointer;
}

/* navbar styles end */
#toggleIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: no-repeat url(/static/memento/img/list.svg);
  z-index: 2;
  cursor: pointer;
  visibility: hidden;
}
#toggleIcon.active {
  background: no-repeat url(/static/memento/img/x-lg.svg);
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

/* night mode button styles */
#toggle {
  visibility: hidden;
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  border-radius: 160px;
  background: rgb(59, 61, 66);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(32, 32, 32, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
#toggle.active {
  background: grey;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
#toggle.active .indicator {
  left: 25px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
}
/* ----------scroll button styles------------- */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background: linear-gradient(to bottom, #444, #222);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 150%;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}

/* ------------------------------------------ */

/* Scroll button */

/* content area styles pg1 */

.content {
  position: relative;
  text-align: center;
  justify-content: center;
  margin: 12vw;
}

.hero {
  position: relative;
  margin-top: 30px;
  font-size: 15vw;
}
.hero2 {
  position: absolute;
  transform: translate(28vw, -20vw);
  font-size: 4vw;
  font-weight: normal;
}
.social {
  position: absolute;
}
.social .fixed {
  position: fixed;
  display: grid;
  gap: 15px;
  z-index: 0;
  transform: translateY(-30vw);
}
.social .fixed img:hover {
  padding-bottom: 5px;
}
/* About section styles */
section.about {
  color: #fff;
  margin: -2rem 5vw 0;
  padding: 0 2rem 2rem;
  border-radius: 16px;
  background: #1b1c20;
  box-shadow: inset 5px 5px 10px #0f1012, inset -5px -5px 10px #27282e;
}

.about_title {
  text-align: center;
}
.about_details {
  text-align: justify;
}
.stack_title {
  font-weight: bold;
}
span.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.tech img {
  width: 64px;
  height: 52px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 5px 5px 10px #0d0d0f, -5px -5px 40px #292b31;
}
/* portfolio styles */
.project {
  text-align: center;
  margin-bottom: -5px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 3rem;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  max-width: 450px;
  overflow: hidden;
  background: #1b1c20;
  color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 11px #0d0d0f, -5px -5px 11px #292b31;
  font-size: 1rem;
  transition: transform 200ms ease-in-out;
}
.card:hover {
  transform: translateY(-1rem);
}
.card_image {
  flex: 0 0 200px;
  overflow: hidden;
}
.card_content {
  display: flex;
  flex-direction: column;
  content: 100%;
  padding: 1rem;
}
.card_title {
  font-size: 1rem;
  font-weight: 700;
}
.card_detail {
  margin-bottom: 0.5rem;
}
.tech {
  margin-bottom: 5px;
  padding: 2px;
  width: fit-content;
  color: #00ff00;
  font-weight: bold;
  border-radius: 10px;
}
.btns {
  display: flex;
  margin-top: auto;
  gap: 1rem;
}
.btns button {
  border: none;
  border-radius: 15px;
  color: #fff;
  justify-content: center;
  cursor: pointer;
  background: rgb(166, 19, 145);
  background: radial-gradient(
    circle,
    rgba(166, 19, 145, 1) 0%,
    rgba(34, 71, 115, 1) 100%
  );
}
.btns button:hover {
  padding: 5px;
}
/* contact section styles */
.cont_contents {
  display: flex;
  gap: 5vw;
  margin: 0 5vw 0;
  justify-content: center;
}
.cont_details {
  text-align: center;
}
.heading1 {
  color: #ffffff;
  font-weight: 900;
}
.heading2 {
  font-weight: 800;
}
.cont_h1 {
  text-align: center;
  font-weight: 900;
}
/* Contact form styles */
.cont-form {
  max-width: 50%;
  border-radius: 18px;
  background: #1b1c20;
  box-shadow: 5px 5px 11px #0d0d0f, -5px -5px 11px #292b31;
}
form {
  margin: 10px;
  padding: 5px;
}
input[type="text"],
input[type="email"],
textarea {
  position: relative;
  border: none;
  border-color: #222;
  border-style: inset;
  border-radius: 10px;
  width: 100%;
  padding: 12px 5px 12px;
  margin: 8px 0;
  color: #fff;
  background: none;
}
input[type="submit"] {
  background-color: #444;
  width: 70px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 5px 5px 11px #0d0d0f, -5px -5px 11px #292b31;
  transition: 0.5s ease-in-out;
}
input[type="submit"]:hover {
  background-color: #222;
}

/* Footer area styles */
.foot {
  margin-top: 30px;
  border-top: 0.5px solid #292b31;
}
.foot > P {
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
}

/* night mode settings*/
body.active {
  background: #e3edf7;
  color: #222;
}

nav.active a {
  color: #222;
}
a.active {
  color: #222;
}
.container .card .desc.active {
  color: #ffffff !important;
}

/* alert styles */
.info {
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  background-color: rgb(77, 230, 184);
}

/* Responsive design styles */
@media only screen and (max-width: 768px) {
  #toggleIcon {
    visibility: visible;
  }
  #menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-y: auto;
    transform: scale(0);
    transition: 0.5s;
  }
  #menu-overlay.active {
    transform: scale(1);
  }

  #menu-overlay ul {
    position: relative;
  }
  #menu-overlay ul li {
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
  }
  #menu-overlay ul li a {
    position: relative;
    text-decoration: none;
    font-size: 3em;
    padding: 0 10px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 0vw;
  }
  #menu-overlay ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background: #fffff0;
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: 0.5s transform;
  }
  #menu-overlay ul li a:hover:before {
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: 0.5s transform;
  }

  .hero2 {
    position: relative;
    align-items: center;
    transform: translate(4vw, -14vw);
  }

  .cont_contents {
    flex-wrap: wrap;
  }

  .cont-form {
    max-width: 100%;
  }
}
