* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(
    closest-side at 30% 50%,
    rgb(58, 59, 63),
    rgb(27, 28, 32)
  );
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  margin: 0px 30px;
  /* transition: 0.5s; */
}
/* navbar styles */

/* nav {
  display: flex;
  justify-content: space-between;
} */
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e3edf7;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transform: scale(0);
  transition: 0.5s;
}
#menu-overlay.active {
  transform: scale(1);
}
#menu-overlay ul {
  position: relative;
}
#menu-overlay ul li {
  position: relative;
  list-style: none;
  text-align: center;
  display: block;
}
#menu-overlay ul li a {
  position: relative;
  text-decoration: none;
  font-size: 3.5em;
  padding: 0 10px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}
#menu-overlay ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background: #fffff0;
  transform: translateY(-50%) scaleX(0);
  transform-origin: right;
  transition: 0.5s transform;
}
#menu-overlay ul li a:hover:before {
  transform: translateY(-50%) scaleX(1);
  transform-origin: left;
  transition: 0.5s transform;
}
#toggleIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #fffff0 url(/static/img/menu-button.svg);
  z-index: 1;
  cursor: pointer;
}
#toggleIcon.active {
  background: #fffff0 url();
}

.logo {
  cursor: pointer;
}

/* ul {
  list-style: none;
  display: flex;
  align-items: center;
}
ul > li {
  padding: 0 15px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
} */
a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

/* night mode button styles */
#toggle {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  border-radius: 160px;
  background: rgb(59, 61, 66);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(32, 32, 32, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
#toggle.active {
  background: #e3edf7;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
#toggle.active .indicator {
  left: 25px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
}

/* content area styles pg1 */

.content {
  text-align: center;
}

.hero {
  padding: 0%;
  font-size: 201px;
}
.hero2 {
  position: absolute;
  transform: translate(6in, -2.8in);
  font-size: 56px;
  font-weight: normal;
}
.social {
  position: absolute;
  position: fixed;
  display: grid;
  gap: 10px;
  transform: translateY(-2in);
}

/* portfolio styles */
.portfolio {
  display: flex;
}
.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.container .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #444;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover {
  height: 420px;
}
.container .card .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .imgBx img {
  max-width: 100%;
  border-radius: 4px;
}
.container .card .desc {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .desc {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

/* contact section styles */
#contact {
  text-align: center;
  display: flex;
  margin: 30px 50px;
  color: #ffffff;
  justify-content: space-between;
}
#contact.cont-details,
a {
  text-decoration: none;
  color: inherit;
}
.cont-form {
  min-width: 40%;
  border-radius: 18px;
  background: #1b1c20;
  box-shadow: 5px 5px 11px #0d0d0f, -5px -5px 11px #292b31;
}

.heading1 {
  color: #ffffff;
  font-weight: 900;
}
.heading2 {
  font-weight: 800;
}

/* Contact form styles */
input[type="text"],
input[type="email"],
textarea {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background: none;
  display: inline-block;
}

/* Footer area styles */
.foot {
  box-shadow: 5px 5px 11px #0d0d0f;
}
.foot > P {
  text-align: center;
  color: #ffffff;
}

/* night mode */
body.active {
  background: #e3edf7;
  color: #222;
}

nav.active a {
  color: #222;
}
a.active {
  color: #222;
}
.container .card .desc.active {
  color: #ffffff !important;
}

@media query 