{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="I'm a keen software developer who builds excellent user experiences in Django while also solving client problems"
    />
    <meta
      name="keywords"
      content="Django Portfolio Imran Barissa Software developer Fullstack developer Web developer Engineer Website Nairobi Kenya"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'memento/css/main.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'memento/img/logo.svg'%}"
      type="image/x-icon"
    />
    <title>IMRAN-BARISSA</title>
  </head>
  <body>
    <header class="navbar">
      <nav>
        <div class="logo">
          <a href="{% url 'index'%}">
            <img src="{% static 'memento/img/logo.svg' %}" alt="logo" />
          </a>
        </div>
        <div id="toggleIcon" onclick="menuToggle()"></div>
        <div id="menu-overlay">
          <ul class="navitem">
            <li class="navlink">
              <a href="#portfolio" onclick="closeMenu()">PORTFOLIO</a>
            </li>
            <li class="navlink">
              <a
                {%
                for
                resume
                in
                resume
                %}
                href="{{ resume }}"
                {%
                endfor
                %}
                open
                target="_blank"
                onclick="closeMenu()"
                >RESUME'</a
              >
            </li>
            <li class="navlink">
              <a href="#contact" onclick="closeMenu()">CONTACT</a>
            </li>
            <li id="toggle">
              <i class="indicator"></i>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    {% comment %} message display {% endcomment %} {% if messages %} 
    {% for message in messages %}
    <div class="{{message.tags }}" role="alert">{{ message }}</div>
    {% endfor %} 
    {% endif %}
    <section class="content">
      <h1 class="hero">IMRAN</h1>
      <h2 class="hero2">SOFTWARE DEVELOPER</h2>
    </section>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        style="color: #fff"
        class="bi bi-chevron-up"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"
        />
      </svg>
    </button>
    <section class="social">
      <span class="fixed">
        <a href="https://github.com/Barissa-Imran" target="_blank"
          ><img src="{% static 'memento/img/github.svg' %}" alt="github"
        /></a>
        <a href="https://twitter.com/BImran_Dev" target="_blank"
          ><img src="{% static 'memento/img/twitter.svg' %}" alt="twitter"
        /></a>
        <a href="https://instagram.com/Barry_Imran" target="_blank"
          ><img src="{% static 'memento/img/instagram.svg' %}" alt="instagram"
        /></a>
      </span>
    </section>
    <section class="about">
      <h2 class="about_title">About Me</h2>
      <p class="about_details" style="text-align: justify">
        I am a self-taught software Developer with a hands-on, high energy
        approach, well-developed skills in Agile methodology, and an
        unapologetically user focused philosophy. I Have developed several
        scripts and web apps using Python, Django and JavaScript
      </p>
      <p class="stack_title">This is the stack I use but not limited to:</p>
      <span class="tech">
        <img
          src="{% static 'memento/img/python.png' %}"
          alt="python"
          class="python"
        />
        <img
          src="{% static 'memento/img/django.svg' %}"
          alt="Django"
          class="python"
        />
        <img
          src="{% static 'memento/img/css.png' %}"
          alt="css"
          class="python"
        />
        <img
          src="{% static 'memento/img/git.svg' %}"
          alt="git"
          class="python"
        />
        <img
          src="{% static 'memento/img/github-color.svg' %}"
          alt="github"
          class="python"
        />
        <img
          src="{% static 'memento/img/html.svg' %}"
          alt="html"
          class="python"
        />
        <img
          src="{% static 'memento/img/javascript.png' %}"
          alt="javascript"
          class="python"
        />
        <img
          src="{% static 'memento/img/mysql.svg' %}"
          alt="mysql"
          class="python"
        />
        <img
          src="{% static 'memento/img/postgreSQL.svg' %}"
          alt="postgreSQL"
          class="python"
        />
      </span>
    </section>
    <h2 class="project">Portfolio</h2>
    <section class="portfolio cards" id="portfolio">
      {% for project in projects %}
      <div class="card">
        <div class="card_image">
          <img src="{{project.image.url}}" alt="{{project.title}}" />
        </div>
        <div class="card_content">
          <div class="card_title">
            <h2>{{project.title}}</h2>
          </div>
          <div class="card_detail">
            <p>{{project.description}}</p>
          </div>
              <div class="tech">
                <small>
                {{project.technology}}
                </small>
              </div>

          <div class="btns">
            <a href="{{ project.source_code }}" target="_blank" class="git_btn">
              <button>
                <img src="{% static 'memento/img/github.svg' %}" alt="github" />
                Source Code
              </button>
            </a>
            <a href="{{ project.demo }}" target="_blank" class="demo_btn">
              <button>
                <img
                  src="{% static 'memento/img/box-arrow-up-right.svg' %}"
                  alt="live"
                />
                Live Demo
              </button>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
    <section class="contact" id="contact">
      <div class="cont_contents">
        <div class="cont_details">
          <p class="heading1">CONTACT</p>
          <p class="text">
            Found anything interesting you want to talk about?<br />
            you can reach me through the below
          </p>
          <p class="heading2">Address</p>
          <p class="text">Nairobi, Nairobi-Kenya</p>
          <p class="heading2">Phone</p>
          <a href="tel:{+254718895455}">+254-718-895-455</a>
          <p class="heading2">Email</p>
          <a
            href="mailto:imranbarissa@gmail.com?subject=Subject&body=Write your message Here!"
            >imranbarissa@gmail.com</a
          >
        </div>
        <div class="cont-form">
          <!-- <span class="cont_h1">CONTACT FORM</span> -->
          <form action="" method="post">
            <legend>CONTACT FORM</legend>
            {% csrf_token %} {{form}}
            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </section>
    <footer class="foot">
      <p>
        &copy;2021 | made with
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          fill="red"
          class="bi bi-heart-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
          />
        </svg>
        by Imran
      </p>
    </footer>
    <script
      type="text/javascript"
      src="{% static 'memento/js/main.js' %}"
    ></script>
  </body>
</html>
